@{
}

<div class="container d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label for="confirmValue">Şifre Unuttum Kodu</label>
                <input class="form-control" name="confirmValue" id="confirmValue" required minLength="6" maxlength="6" />
            </div>
            <div class="form-group mt-2">
                <label for="password">Yeni Şifre</label>
                <input class="form-control" name="password" id="password" required minLength="6" />
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-outline-warning w-100">Şifremi Değiştir</button>
            </div>
        </form>
        @if (TempData["error"] != "" && TempData["error"] != null)
        {
            <p class="alert alert-danger mt-2">@TempData["error"]</p>
        }
    </div>
</div>